Allow extensions to ProblemDetails object

https://github.com/w3c/vc-data-model/blob/40be9e0572c154b5671664579c9dd6c992a97f5c/index.html#L4862C1-L4865C1

[RFC-9457 section 3.2](https://www.rfc-editor.org/rfc/rfc9457#name-extension-members) states that, "Problem type definitions MAY extend the problem details object with additional members that are specific to that problem type." The specification text above is too restrictive; a verifier should be free to use the extension mechanism for production purposes, not just debugging, with the understanding that it should document details of any problem description types, codes, and extensions that it can generate above and beyond what is defined in the specification.

Ah, the intent of the text wasn't to restrict to non-production use cases. I can see how the current text reads that way, though. I can put in a fix in a PR this weekend.

The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2023-12-13-vcwg#section2-14) on 2023-12-13

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.14. Allow extensions to ProblemDetails object (issue vc-data-model#1384)

_See github issue [vc-data-model#1384](https://github.com/w3c/vc-data-model/issues/1384)._




**Manu Sporny:** its a misread of the text.  
… the problem details can be exposed in production interfaces, additional problem details objects can be added to improve developer experience.  

</details>

PR #1391 has been raised to address this issue. This issue will be closed once PR #1391 has been merged.

PR #1391 has been merged, closing.