Looser restrictions on the JOSE header `typ`

[Section 5.1 of RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-5.1) states that using a `typ` header claim with a value of `JWT` is RECOMMENDED.
This has allowed other specifications to use other media types for JWTs fulfilling a more specific purpose.
For example, [RFC 9068](https://datatracker.ietf.org/doc/html/rfc9068/#section-2.1) defines a media type of `at+jwt` SHOULD be used for OAuth2.0 Access Tokens following the JWT Profile given there.
This continues the pattern of using the `typ` claim as a hint, and allowing for more specialized media types to be defined later.

The VC Data Model breaks with this tradition, instead stating that
> `typ`, if present, MUST be set to `JWT`. 

I would like to know the background behind this decision and why it was made. To me, it feels unnecessarily restrictive and limits the possibility to make established structures having a different `typ` compatible with VCs, as well as to define more specialized forms of VC-JWTs in the future.

Opting to mark this as a V2.0 issue since it would be a normative change and we're past the window of making normative changes in the maintenance group. I'd expect this will still be addressed, but likely not right away and discussion can continue on it in the mean time.