Remove unnecessary limitation for alg JWT attribute

The spec currently reads:
> For backward compatibility reasons, the issuer MUST use JWS to represent proofs based on a digital signature.

And it further reads:
> alg MUST be used for RSA and ECDSA-based digital signatures.

Because digital signatures should in general use the JWS, the statement about RSA and ECDSA might be confusing and should be removed. We cannot provide an exhaustive list here, e.g., EdDSA should be included as well.

Proposed non-substantial change (because there is no limitation due to the statement above):
> alg MUST be used for digital signatures.

Furthermore, this change won't have an impact on the test suite results.

This should point to https://tools.ietf.org/html/rfc7518 as the algorithms that are allowed to be used for JWS

@nadalin - *IF* we are able to make this additional change (which is not guaranteed at this point in the process, as I am sure you are aware, given your experience as a W3 Working Group Chair), it appears to me that a pointer for "the algorithms that are allowed to be used for JWS" should instead be to the [JSON Web Signature and Encryption Algorithms Registry](https://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-algorithms) (which was established by [RFC7518 Section 7.1](https://tools.ietf.org/html/rfc7518#section-7.1), and which refers back to RFC7518 among other specifications) as it offers a more current and complete list.

@TallTed It should point to both to be accurate and percise, and there is plenty of time since this has not had a second CR draft yet